/* This is the css file for the HR pre-course Twittler*/

body 
{
	background-color: #a1bad1;
}

#head
{
	height:80px;
	margin: 0 auto 0 0;

}
h1
{
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align:center;
	margin: 0px 0px 0px 0px;
}

#tweets
{
	background-color: #FDF5E6;
	height: 650px;
	width: 650px;
	padding: 10px;
	margin: 0 auto;
	overflow: auto;	
}

.tweet
{
	margin: 0 0 20px;
	padding: 10px 0 10px 10px;
	border: 1px solid #d8d8d8;
	background-color: #f9f9f9;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: inset 0 0 0 1px #fff;
	-webkit-box-shadow: inset 0 0 0 1px #fff;
	box-shadow: inset 0 0 0 1px #fff;
}

.tweetuser 
{
	color:blue;
	cursor:pointer;
}

.timestamp
{ 
	
}

#alltweetsbutton 
{
	display:none;
	margin: 0 auto;
}

